h1 {

}

.img-imput {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}