@font-face {
  font-family: "RixTodaytoon";
  /* src: url(./style/RixTodaytoonB/RixTodaytoon.ttf) format("woff"); */
  src: url(./style/RixTodaytoonB/RixTodaytoon.ttf) format("woff");
}
body {
  font-family: "RixTodaytoon";
}
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  text-indent: -9999px;
}
button {
  cursor: pointer;
}
